.reviewlist h3 {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 500;
  }
  
  .reviewlist {
    margin-bottom: 70px;
  }
  
  .post-review-button {
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    background-color: deepskyblue;
  }
  
  .delete-review-button {
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    background-color: deepskyblue;
  }
  
  .post-review-button:hover {
    cursor: pointer;
    background-color: darkblue;
  }
  
  .delete-review-button:hover {
    cursor: pointer;
    background-color: darkblue;
  }