.user-form {
    width: 400px;
    padding: 20px;
    padding-left: 10px;
    background-color: skyblue;
}

.user-form *{
    display: block;
    margin: 0 0 10px;
}

.user-form form, 
.user-form input, 
.user-form button{
    width: 98%;
}

.user-form label {
    text-align: left;
}

.user-form input, .user-form button {
    padding: 7px;
}

.user-form button[type="submit"] {
    /* background-color: rgb(196, 75, 75); */
    width: 409px;
    color: white;
    cursor: pointer;
} 