.hidden {
    display: none;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    /* justify-content: space-around; */
    margin-bottom: 20px;
    min-height: 80px;
    align-items: center;
    border-bottom: solid 1px gray;
}

.logo-img {
    width:70px;
    cursor: pointer;
}
.user {
    cursor: pointer;
    width: 40px;
}

.title {
    color: rgb(0, 115, 255);
    font-size: 1.2vw;
}

@media screen and (max-width: 576px) {
    .logo-img {
        width: 40px;
    }

}